.mainMobile img {
  width: 90%;
  display: flex;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
.mainDesktop {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .mainDesktop {
    display: block;
  }
  .mainDesktop img {
    width: 90%;
    display: flex;
    margin-top: 30px;
    border-radius: 10px;
  }
  .mainMobile {
    display: none;
  }
}
